@model BlogBuilder.DTOs.BlogDTO
@{
    ViewData["Title"] = Model.BLOG_NAME;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Blog/GetBlogById.css" />

<div class="blog-detail-wrapper">
    <div class="blog-title">
        @Model.BLOG_NAME
        @if (Model.isUpdated)
        {
            <span class="edited-tag">(Edited)</span>
        }
    </div>

    <div class="blog-topic">Topic: @Model.TOPIC_NAME</div>

    <div class="blog-meta" id="blog-meta" data-userid="@Model.USERID">
        Author: Loading... • @Model.MODIFIED_DATE
    </div>


    @if (Model.IMAGE_DATA != null)
    {
        var base64Image = Convert.ToBase64String(Model.IMAGE_DATA);
        <img class="blog-image" src="data:image/png;base64,@base64Image" alt="Blog Image" />
    }

    <div class="blog-content ql-editor">
        @Html.Raw(Model.BLOG_CONTENT)
    </div>

    <div class="comments-section">

        <!-- Add Comment Form -->
        <div id="add-comment-container" class="add-comment-box">
            <h5>Add a Comment</h5>
            <textarea id="comment-text" placeholder="Write your comment here..." rows="4"></textarea>
            <div class="btn-group">
                <button id="submit-comment" class="btn-submit">Submit</button>
                <button id="cancel-comment" class="btn-cancel">Cancel</button>
            </div>
        </div>


        <h4>Comments</h4>
        @if (Model.BLOG_COMMENTS.Any())
        {
            foreach (var comment in Model.BLOG_COMMENTS)
            {
                <div class="comment" id="comment-@comment.COMMENTID">
                    <div>
                        <span class="comment-username" id="username-@comment.COMMENTID" data-userid="@comment.USERID">User</span>

                        <span class="comment-date">@comment.MODIFIED_DATE</span>
                    </div>
                    <div class="comment-text">@comment.COMMENT</div>
                </div>

                <script>
                    fetch('/User/GetUsernameByUserId?userId=@comment.USERID')
                        .then(res => res.text())
                        .then(name => {
                            const el = document.getElementById("username-@comment.COMMENTID");
                            if (el) el.textContent = name;
                        });
                </script>
            }
        }
        else
        {
            <p>No comments yet.</p>
        }
    </div>

    <a class="back-btn" href="/Blog/Index">← Back to All Blogs</a>
</div>

<script src="~/js/Blog/GetBlogById.js" />

